# Review Exercise: 1

In [6]:
cardinal_numbers = ("First", "Second", "Third")
print(cardinal_numbers[2])

Third

In [7]:
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

First
Second
Third

In [25]:
my_name = tuple("YourName")
my_name = tuple("Patrick")
print("x" in my_name)

False

In [24]:
new_tuple = my_name[2:]
print(new_tuple)

('t', 'r', 'i', 'c', 'k')

# Review Exercise: 2

In [29]:
food = ["Rice", "Beans"]

food.append("Broccolli")
food.extend(["Bread", "Pizza"])
print(food[:2])
print(food[-1])

['Rice', 'Beans']
Pizza

In [34]:
breakfast = "Eggs, fruit, orange juice".split(", ")
print(len(breakfast))

lengths = [len(item) for item in breakfast]
print(lengths)

3
[4, 5, 12]

# Review Exercise: 3

In [43]:
data = ((1,2), (3,4))
for i, tup in enumerate(data, start=1):
    print(f"Row {i} sum: {sum(tup)}")

Row 1 sum: 3
Row 2 sum: 7

In [12]:
numbers = [8, 4, 1, 7, 9]

numbers_copy = numbers[:]
numbers.sort()

print(numbers)
print(numbers_copy)

[1, 4, 7, 8, 9]
[8, 4, 1, 7, 9]

# CHALLENGE: LIST OF LISTS

In [11]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
print("Name (Students, Tuition):")
for uni in universities:
    name = uni[0]
    students = uni[1]
    tuition = uni[2]
    print(f"{name} ({students} students, ${tuition} tuition)")

Name (Students, Tuition):
California Institute of Technology (2175 students, $37704 tuition)
Harvard (19627 students, $39849 tuition)
Massachusetts Institute of Technology (10566 students, $40732 tuition)
Princeton (7802 students, $37000 tuition)
Rice (5879 students, $35551 tuition)
Stanford (19535 students, $40569 tuition)
Yale (11701 students, $40500 tuition)

# CHALLENGE: WAX POETIC

In [10]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]

print("Nouns:", nouns)
print("Verbs:", verbs)
print("Adjectives:", adjectives)
print("Prepositions:", prepositions)
print("Adverbs:", adverbs)

Nouns: ['FOSSIL', 'HORSE', 'AARDVARK', 'JUDGE', 'CHEF', 'MANGO', 'EXTROVERT', 'GORILLA']
Verbs: ['KICKS', 'JINGLES', 'BOUNCES', 'SLURPS', 'MEOWS', 'EXPLODES', 'CURDLES']
Adjectives: ['FURRY', 'BALDING', 'INCREDULOUS', 'FRAGRANT', 'EXUBERANT', 'GLISTENING']
Prepositions: ['AGAINST', 'AFTER', 'INTO', 'BENEATH', 'UPON', 'FOR', 'IN', 'LIKE', 'OVER', 'WITHIN']
Adverbs: ['CURIOUSLY', 'FURIOUSLY', 'SENSUOUSLY', 'EXTRAVAGANTLY', 'TANTALIZINGLY']

# Review Exercise: 4

In [3]:
captains = {}

captains['Enterprise'] = 'Picard'
captains['Voyager'] = 'Janeway'
captains['Defiant'] = 'Sisko'

if 'Enterprise' not in captains:
    captains['Enterprise'] = 'UNKNOWN'

if 'Discovery' not in captains:
    captains['Discovery'] = 'UNKNOWN'

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

if 'Discovery' in captains:
    del captains['Discovery']

bonus_captains = dict(
    Enterprise='Picard',
    Voyager='Janeway',
    Defiant='Sisko'
)
print("\nBonus dictionary:", bonus_captains)

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by UNKNOWN.

Bonus dictionary: {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

# CHALLENGE: CAPITAL CITY LOOP

In [15]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}

while True:
    state = input("Enter a U.S. state (or 'stop' to exit): ")

    if state.lower() == 'stop':
        print("Adios")
        break

    if state in capitals_dict:
        print(f"The capital of {state} is {capitals_dict[state]}.\n")
    else:
        print(f"Sorry, {state} is not in the dictionary.\n")

Enter a U.S. state (or 'stop' to exit):  Atlanta

Sorry, Atlanta is not in the dictionary.

Enter a U.S. state (or 'stop' to exit):  stop

Adios